<footer class="footer">
        <div class="footer__inner">
            <div class="footer__info">
                <div class="footer__copyright">
                    &copy; 2022 - Abduykov Zufar
                </div>
                <div class="footer__social-icon">
                    <a href="https://vk.com/specialsoldiers" id="">
                        <img src="image/vk_icon.png" alt="">
                    </a>
                    <a href="https://www.facebook.com/">
                        <img src="image/facebook_icon.png" alt="">
                    </a>
                    <a href="#">
                        <img src="image/twitter_icon.png" alt="">
                    </a>
                    <a href="mailto:swat55551@gmail.com" style="width:4%">
                        <img src="image/gmail_icon.png" alt="" style="width: 100%;">
                    </a>
                </div>
            </div>
            
            <div class="footer__text">
                <a href="#">Copyright &copy;2022 All rights reserved</a> 
            </div>
        </div>
</footer>