<header class="navigationPanel-header">
    <input type="checkbox" id="navigationPanel-header__inputCheck">
    <div class="navigationPanel-header__text">
      <div class="navigationPanel-header__title">
        Смарт-контракт: Пациент
      </div>
    </div>
    <div class="navigationPanel-header__button">
      <label for="navigationPanel-header__inputCheck">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="navigationPanel-header__links">
      <a href="/" target="_blank" id="links__registerId" style="visibility:hidden">Зарегистрироваться</a>
      
      <!--<a href="/" target="_blank" id="links_setDiagnosId" style="visibility:hidden" >Поставить диагноз</a>
      <a href="/" target="_blank" id="links_changeDiagnosId" style="visibility:hidden">Изменить диагноз</a> -->
      
      <div class="navigationPanel-header__switch">
        <input type="checkbox" id="switch__buttonThree" />
        <label for="switch__buttonThree">
          <i></i>
        </label>           
      </div>
      <label>
        <input type="checkbox" id="navigationPanel-header__input">
        <span></span>
      </label>
    </div>
  </header>