<% layout('layout/main') -%>

<!--
  <div class="about blockchain" id="about"> 
      <div class="container">
        <div class="blockchain_photo anim_blockchain clearfix">
          <img class="smallPhoto" src="/image/smallBlockchain.png" alt="">
        </div>           
        <div class="blockchain__content about__content">
            <h3 class="blockchain__title about__title">Blockchain</h3>
            <div class="about__text">
                <p>Блокчейн в здравоохранении, медицине и фармацевтике может использоваться для управления электронными медицинскими картами, цепочками поставок лекарств, для борьбы с контрафактом, контроля за распределением донорских органов, проведения клинических и биомедицинских исследований, удаленного мониторинга пациентов, улучшения процедур страхования и выставления счетов, а также анализа медицинских данных.</p>
            </div>
        </div>
      </div>
  </div>

  <div class="about smartContract" id="smartContract"> 
    <div class="container">
        <div class="smartContract_photo  smartContractAnim_photo clearfix">
          <img class="smallPhoto" src="/image/smallSmart.png" alt="">
        </div>           
        <div class="smartContract__content about__content">
            <h3 class="smartContract__title about__title">Интеллектуальный контракт</h3>
            <div class="about__text">
                <p>Этот компьютерный алгоритм, предназначенный для заключения и поддержания самоисполняемых контрактов, выполняемых в блокчейн-среде, избавляет пользователей от лишних посреднических действий на всех этапах заключения контракта.</p>
            </div>
        </div>
      </div>
  </div>

  <div class="about ipfs" id="about"> 
    <div class="container">
        <div class="ipfs_photo anim_ipfs clearfix">
          <img class="smallPhoto" src="/image/smallIPFS.png" alt="">
        </div>           
        <div class="ipfs__content about__content">
            <h3 class="ipfs__title about__title">IPFS</h3>
            <div class="about__text">
                <p>IPFS была представлена в 2014 году Хуаном Бенетом как файловая система P2P с адресом контента и версиями. IPFS использует распределенную сеть для обеспечения эффективного средства передачи данных на большие расстояния, даже если это была межпланетная передача отсюда и название - Межпланетная файловая система (IPFS). </p>
            </div>
        </div>
    </div>
  </div>
-->


<div class="information_about_site">
  <div class="wrapper-slider container">
    <div class="slider" id="slider">
      <div class="slider__item">
        <div class="about blockchain" id="about"> 
          <div class="container">
            <div class="blockchain__photo blockchain__aniamtion clearfix">
              <img class="smallPhoto" src="/image/smallBlockchain.png" alt="">
            </div>           
            <div class="about__content blockchain__content">
                <h3 class="about__title blockchain__title">Blockchain</h3>
                <div class="about__text">
                    <p>Блокчейн в здравоохранении, медицине и фармацевтике может использоваться для управления электронными медицинскими картами, цепочками поставок лекарств, для борьбы с контрафактом, контроля за распределением донорских органов, проведения клинических и биомедицинских исследований, удаленного мониторинга пациентов, улучшения процедур страхования и выставления счетов, а также анализа медицинских данных.</p>
                </div>
            </div>
          </div>
      </div>
      </div>
      <div class="slider__item">
        <div class="about smartContract" id="smartContract"> 
          <div class="container">
              <div class="smartContract__photo  smartContract__animation clearfix">
                <img class="smallPhoto" src="/image/smallSmart.png" alt="">
              </div>           
              <div class="about__content smartContract__content">
                  <h3 class="about__title smartContract__title ">Интеллектуальный контракт</h3>
                  <div class="about__text">
                      <p>Этот компьютерный алгоритм, предназначенный для заключения и поддержания самоисполняемых контрактов, выполняемых в блокчейн-среде, избавляет пользователей от лишних посреднических действий на всех этапах заключения контракта.</p>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="slider__item">
        <div class="about ipfs" id="about"> 
          <div class="container">
              <div class="ipfs__photo ipfs__animation clearfix">
                <img class="smallPhoto" src="/image/smallIPFS.png" alt="">
              </div>           
              <div class="about__content ipfs__content">
                  <h3 class="about__title ipfs__title ">IPFS</h3>
                  <div class="about__text">
                      <p>IPFS была представлена в 2014 году Хуаном Бенетом как файловая система P2P с адресом контента и версиями. IPFS использует распределенную сеть для обеспечения эффективного средства передачи данных на большие расстояния, даже если это была межпланетная передача отсюда и название - Межпланетная файловая система (IPFS). </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="sliderSmall" id="sliderSmall">
      <div class="sliderSmall__item">
        <img src="/image/backBlockchainslider.png" width="35%" height="35%" alt="">
      </div>
      <div class="sliderSmall__item">
        <img src="/image/backSmartContractsliderslider.png" width="40%" height="40%" alt="">
      </div>
      <div class="sliderSmall__item">
        <img src="/image/backIPFSslider.png" width="40%" height="40%" alt="">
      </div>
    </div>
  </div>
</div>

<div id="problems">
  <div id="problems_withAccount"  style="display:none;">

  </div>
  <div id="problems_withContract"  style="display:none;">

  </div>
</div>

<main id="mainContentInteraction">

  <div class="aboutPerson patient" id="about"> 
    <div class="container">
        <div class="patient__photo clearfix">
          <img class="smallPhoto patient__img" src="/image/smallPatient.png" alt="">
          <span id="information">           
              
          </span>
        </div>   
        <h2 class="about__title patient__title">Пациент</h2>        
        <div class="about__content patient__content ">
            <div id="interactionWithAccounts" style="display:none;">
              <input type="text" name="roles" class="form-control-sm accountInput mb-1" style="display:block" id="accounts_doctor_patient" placeholder="Аккаунт доктора(дать/забрать доступ)/пациента(для получения информации)">    
            </div>
            <div id="infoAboutPatient" style="display:none">           
              <div id="interactionWithPatient" class="interactionWithPatient" ></div>
            </div>
            <div class="about__text person__text">
                <p>В этом разделе вы можете взаимодействовать с контрактом, а именно дать доступ врачу к вашим данным или забрать этот доступ<br>(напоминаем, что после каждый процедуры необходимо забрать доступ, для обеспечения безопасности). <br>Также вы можете посмотреть базовую информацию о себе или изменить ее, посмотреть все назначенные диагнозы. </p>
            </div>
        </div>
    </div>
  </div>
  
  <div class="aboutPerson doctor" id="about"> 
    <div class="container">
        <div class="doctor_photo clearfix">
          <img class="smallPhoto imgDoctor" src="/image/smallDoc2.png" alt="">
        </div>            
        <div class="about__content doctor__content ">
          <h2 class="about__title doctor__title">Доктор</h2>  
              <input type="text" name="roles" class="form-control-sm accountInput mb-1" style="display:block" id="account_patient" placeholder="Аккаунт пациента">           
              <div id="DoctorInteractionWithPatients" class="" style="display:none">
              </div>
            <div class="about__text person__text ">
                <p>В этом разделе вы можете взаимодействовать с контрактом пациента: <br>- Поставить диагноз<br> - Изменить диагноз
                  <br><p class="form-text">(для этого необходимо знать № вашего диагноза)</p> <br> - Посмотреть назначенные вами диагнозы. </p>
            </div>
        </div>
    </div>
  </div>
</main>



<!--
<main>
  <div class="container-fluid">
      <h1 class="name"> Взаимодействие с контрактом: Пациент</h1>
      <div id="information">              
          <h3 id="accountUsers" class="accountUsers"> Your account: </h3>
      </div>
      <div id="connectedContract">
          <h4 id=""> Connect with contract : </h4>
      </div>
      <div id="roles" class="" style="display:none;">
          <h4 style="display:inline"> Managment role a doctor</h4>
          <input type="text" name="roles" class="form-control-sm" style="display:inline-block" id="role">       
      </div> 
      <div id="infoAboutPatient" style="display:none">           
          <div id="interactionWithPatient" class="interactionWithPatient" ></div>
      </div>
      <div id="infoAboutPatientDiagnos" style="display:none" class="mt-4">
          <input type="text" name="roles" class="form-control-sm ms-5" style="display:inline-block" id="account_patient">
          <br>                 
      </div>
      <div id="infoAboutPatientDiagnosForCurrentDoctor" style="display:none" class="mt-2">        
      </div>
      <div id="historyPatient" style="display:none" class="mt-2">        
      </div>
      <div id="downloadFiles" style="display:none" class="mt-2">
        <div class="mb-2 col-sm-6">
          <input type="text" class="form-control-sm ms-5" id="fileName" value="" placeholder="common name files">
          <br>
          <input type="file" class="form-control-sm ms-5" name="file" id="files" multiple>
        </div>        
      </div>
  </div>
  <div class="alert alert-danger" role="alert" id="error" class="form-control-sm" style="display:none;">Error</div>
  <div class="alert alert-success" role="alert" id="success" class="form-control-sm"  style="display:none;">Succ!</div> 
</main>
-->